<div class="container section-t-space">
  <div class="row inner-page-header section-b-space">
    <div class="col-sm-6">
      <h2 class="title title-borderless title-layout-2 mb-0 p-0">{{ page.title }}</h2>
    </div>
    <div class="col-sm-6">
      {% include 'breadcrumb' %}
    </div>
  </div>
  <div class="row">
    <div class="page-content col-sm-12">
      {{ page.content }}
    </div>
  </div>
</div>